QPushButton {
	background-color: rgb(3, 189, 4);
    border-radius : 5px;
	color: rgb(255, 255, 255);
}
QPushButton:hover {
	background-color: rgb(8, 143, 9);
    border-radius:5px;
     color: rgb(255, 255, 255);
}
QPushButton:pressed {
	background-color: rgb(2, 26, 3);
    color: rgb(255, 255, 255);
}